YzhSDKNet.Standard/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
YzhSDKNet.Standard/obj/Debug/netstandard2.0/YzhSDKNet.Standard.AssemblyInfo.cs
YzhSDKNet.Standard/obj/Debug/netstandard2.0/YzhSDKNet.Standard.AssemblyInfoInputs.cache
YzhSDKNet.Standard/obj/Debug/netstandard2.0/YzhSDKNet.Standard.GeneratedMSBuildEditorConfig.editorconfig
Example/.DS_Store
